/* 
possible color theme
627264
A1CDA8
B5DFCA
C5E7E2
AD9BAA
*/

.NavBar {
    height: 70px;
    background-color: #F4F5F4;
    display: flex;
    align-items: center;
    color: #1A1D1A;
    padding: 0 30px;
    z-index: 10;
}

.NavItems {
    display: flex;
    width: 100%;
    padding:0;
}

.NavItems li{
    display: inline-block;
    padding: 0 20px;
}

.NavItems li:last-child{
    /* margin-left: auto; */
}

.NavItems a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom:  4px solid transparent;
    text-decoration: none;
}

.NavItems a:hover,
.NavItems a:active,
.NavItems a.active{
    border-bottom: 4px solid #D9E9FC;
    color: white;
}

